In [ ]:
import pandas as pd
import numpy as np

student_performance = pd.read_csv('StudentsPerformance.csv')

# student_performance.head(10) первые 10 строчек
# student_performance.tail() последние 5 строчек
# описательная статистика 
student_performance.describe()
# типы данных
student_performance.dtypes
# количество строк и колонок 
student_performance.shape
# группирую по gender и нахожу среднее значение writing score
student_performance.groupby('gender').aggregate({'writing score' : 'mean'})

# получаю нужные строки и колонки из таблицы .iloc[строки (не включая последнее число), столбцы (не включая последнее число)]
student_performance.iloc[0:5, 0:3]

# указывать требуемые строки и столбцы можно в обратном порядке
student_performance.iloc[[0, 3, 10], [0, 5, -1]] 

student_performance_with_names = student_performance.iloc[[0, 3, 4, 7, 8]]
student_performance_with_names.index = ["Cersei", "Tywin", "Gregor", "Joffrey", "Ilyn Payne"]
student_performance_with_names.loc[["Cersei", "Joffrey"]]
student_performance_with_names.loc[["Cersei", "Joffrey"], ["gender", "writing score"]]

# pandas.core.frame.DataFrame
type(student_performance_with_names.loc[["Cersei", "Joffrey"], ["gender", "writing score"]])

# все строки в первой колонке [:, 0]
student_performance_with_names.iloc[:, 0]

# pandas.core.series.Series - одноразмерный массив, с некоторыми labels (именами)
type(student_performance_with_names.iloc[:, 0])

pd.Series([1, 2, 3])
pd.Series([1, 2, 3], index=["Cersei", "Tywin", "Gregor"])

# student_performance это объединенные в одном месте pandas.Series (каждая колонка) каждый столбец имеет название в нем хранится pandas.Series
my_ser_1 = pd.Series([1, 2, 3], index=["Cersei", "Tywin", "Gregor"])
my_ser_2 = pd.Series([4, 5, 6], index=["Cersei", "Tywin", "Gregor"])
pd.DataFrame({'col_name_1' : my_ser_1, 'col_name_2' : my_ser_2})

# получение pandas.Series
student_performance_with_names['gender']

# взять от всего DataFrame первой колонки
student_performance_with_names[['gender']]

# Для отбора первых 7 строк датафрейма df подходят следующие способы:
# df.iloc[:7]
# Этот способ использует позиционное индексирование. Он выбирает строки с индексами от 0 до 6 (включительно), то есть первые 7 строк.
# df.loc[:6], если индекс представляет собой последовательность чисел от 0 с шагом 1
# Этот способ использует индексацию по меткам. Если индексы датафрейма начинаются с 0 и идут с шагом 1, то df.loc[:6] выберет строки с индексами от 0 до 6 (включительно), то есть первые 7 строк.
# df.head(7)
# Этот метод специально предназначен для выбора первых n строк датафрейма. В данном случае df.head(7) вернет первые 7 строк.
# df.iloc[0:7]
# Аналогично df.iloc[:7], этот способ использует позиционное индексирование и выбирает строки с индексами от 0 до 6 (включительно), то есть первые 7 строк.

# df.tail(7)
# Этот метод возвращает последние 7 строк датафрейма, а не первые.
# df.loc[:7], если индекс представляет собой последовательность чисел от 0 с шагом 1
# Этот способ выберет строки с индексами от 0 до 7 (включительно), то есть первые 8 строк

# Соответствие атрибутов и методов датафрэйма с их значением
# https://pandas.pydata.org/pandas-docs/stable/reference/frame.html#attributes-and-underlying-data

# df.dtypes → возвращает серию с описанием типа каждой колонки.
# df.shape → возвращает кортеж из числа строк и столбцов у df.
# df.index → возвращает коллекцию с индексом всех строк.
# df.get_dtype_counts() → возвращает серию с числом колонок каждого из типов.
# df.size → возвращает число ячеек (число строк, умноженное на число столбцов) в df.
# df.columns → возвращает коллекцию с названиями колонок.
# df.select_dtypes(include=types_to_include, exclude=types_to_exclude) → возвращает часть датафрейма, куда были включены колонки с типами, указанными в include, или исключены колонки с типами, указанными в exclude

            gender
Cersei      female
Tywin         male
Gregor        male
Joffrey       male
Ilyn Payne    male

In [33]:
titanic = pd.read_csv('titanic.csv')

titanic.shape[1]
titanic.shape
len(titanic.columns)
titanic.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object